TRẦN THÁI DƯƠNG 223030609

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Superstore.csv')
df.head()

,Category,City,Container,Customer ID,Customer Name,Customer Segment,Department,Discount,Item ID,Item,...,Product Base Margin,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price
0,"Scissors, Rulers and Trimmers",Washington,Small Pack,2867,Dana Teague,Corporate,Office Supplies,0.01,11237,Kleencut® Forged Office Shears by Acme United ...,...,0.55,-5,East,2,7,2/19/2020,Regular Air,3,District of Columbia,2
1,Storage & Organization,Oxford,Medium Box,1821,Vanessa Boyer,Consumer,Office Supplies,0.06,10730,Eldon Simplefile® Box Office®,...,0.57,-37,East,27,312,8/7/2018,Regular Air,6,Massachusetts,12
2,Telephones and Communication,Irving,Small Box,1402,Wesley Tate,Corporate,Technology,0.08,10070,I888 World Phone,...,0.60,258,Central,52,2635,3/17/2020,Regular Air,8,Texas,156
3,Paper,Irving,Small Box,1402,Wesley Tate,Corporate,Office Supplies,0.10,11193,Xerox 1997,...,0.37,-292,Central,53,281,3/17/2020,Regular Air,10,Texas,6
4,Bookcases,Oxford,Jumbo Box,2747,Brian Grady,Corporate,Furniture,0.02,10030,O'Sullivan 2-Shelf Heavy-Duty Bookcases,...,0.69,-1348,East,62,2983,9/19/2018,Delivery Truck,54,Massachusetts,49

In [2]:
df.shape

(9426, 26)

In [3]:
types=np.unique(df.dtypes)
print(types)

[dtype('int64') dtype('float64') dtype('O')]

In [7]:
for i,dtype in enumerate(types):
    if (dtype=='int64' or dtype=='float64'): 
        print('Dinh luong')
    if (dtype=='O'):
        print('Dinh tinh')
    for e in df.columns:
        if df[e].dtypes==dtype:
            print('*****',e)

Dinh luong
***** Customer ID
***** Item ID
***** Number of Records
***** Order ID
***** Order Quantity
***** Postal Code
***** Profit
***** Row ID
***** Sales
***** Shipping Cost
***** Unit Price
Dinh luong
***** Discount
***** Product Base Margin
Dinh tinh
***** Category
***** City
***** Container
***** Customer Name
***** Customer Segment
***** Department
***** Item
***** Order Date
***** Order Priority
***** Region
***** Ship Date
***** Ship Mode
***** State

In [9]:
df.isnull().sum()

Category               0
City                   0
Container              0
Customer ID            0
Customer Name          0
Customer Segment       0
Department             0
Discount               0
Item ID                0
Item                   0
Number of Records      0
Order Date             0
Order ID               0
Order Priority         0
Order Quantity         0
Postal Code            0
Product Base Margin    0
Profit                 0
Region                 0
Row ID                 0
Sales                  0
Ship Date              0
Ship Mode              0
Shipping Cost          0
State                  0
Unit Price             0
dtype: int64

In [10]:
df.isna().sum()[df.isna().sum()>0]

Series([], dtype: int64)